@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
.container{
    position: relative;
    top:2.5rem;
}
i{
    font-size: 250px;
    cursor: pointer;
    position: relative;
    top: -5rem;
    left: 43%;
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-size: 3em;
}
